@font-face{
    font-family: "roboto";
    src: url("Fonts/roboto/Roboto-Regular.ttf");
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.responsive{
    font-family: "roboto";
    text-align: justify;
}

body{
    background-color:  #F4F4F4
    }
 .p1, .p2{
    color: #141414;
    padding: 5%;
    text-align: justify;
    font-family: "roboto";
    font-size: 1em;
    margin-top: 40px;
}

.Prez, .ipad{
    display: none;
}

.skills{
    color:white;
    font-size: 1.5em;
    font-family:"roboto";
    margin: revert;
    padding: 15px;
    background-color: #009DA5;
    border: 1px solid #009DA5;
    border-radius: 5%;
    text-align: center;
      
}



@media only screen and (min-width: 641px) and (max-width: 1024px) {

.Prez, .responsive{
    display: none;
}

.ipad{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 20px; 
}

.conteneur {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.p1, .p2{
    color: #141414;
    text-align: justify;
    font-family: "roboto";
    font-size: 1em;
    padding: 0%;
    margin: 10px 0px 50px 0px;
}

.skills{
    color:white;
    font-size: 1.5em;
    font-family:"roboto";
    margin: 10px;
    padding: 15px;
    background-color: #009DA5;
    border: 1px solid #009DA5;
    border-radius: 5%;
    width: 70%;

   
}
    .ipad div img{
        margin:10px;
        width: 30%;
        height:30%;
        border-radius: 50%;
        box-shadow: 0px 4px 8px 0px rgba(0, 0,0,0.2), 0px 12px 20px 0px #009DA5;
    } 

}

@media only screen and (min-width: 1025px){

    .conteneur, .responsive{
        display: none;
    }

    .Prez{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 20px;  
        
    }
    
    .Prez div{
        display: flex;
        justify-content: center;
        align-items:center;
        margin: 0px 65px 0px 45px;
    
        
    }
    
    .Prez div img{
        margin: 0px 10px 0px 10px;
        width: 20%;
        height:20%;
        border-radius: 50%;
        box-shadow: 0px 4px 8px 0px rgba(0, 0,0,0.2), 0px 12px 20px 0px #009DA5;
    }
    
    .p1{
        padding: 5% 0% 5% 5%;
    }
    
    .p2{
        padding: 5% 5% 5% 0%;
    }
    
    .responsive{
        display: none;
    }
    
    .Prez div p{
    font-size: 1.2em
        }
    
       .skills{
        color:white;
        font-size: 1.5em;
        font-family:"roboto";
        margin: 10px;
        padding: 15px;
        background-color: #009DA5;
        border: 1px solid #009DA5;
        border-radius: 5%;
       } 
    
    }