@font-face {
  font-family: "mexicana";
  src: url("Fonts/cf_mexicana/CFMexicanaPERSONALUSE-Regul.ttf")
}

@font-face {
  font-family: "roboto";
  src: url("Fonts/roboto/Roboto-Regular.ttf")
}

@font-face {
  font-family: "rambler";
  src: url("Fonts/the_rambler/The Rambler.ttf")
}

* {
  margin: 0;
}

body {
  background-color: #F4F4F4;
}

main {
  margin: auto;
  width: 80%;
  margin-top: 50px;
  margin-bottom: 50px;
}