@font-face {
	font-family: "mexicana";
	src: url("../Fonts/cf_mexicana/CFMexicanaPERSONALUSE-Regul.ttf")
}

#baner{
	width: 100%;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Ultra', serif;
	font-size: 30px;
	letter-spacing: 6px;
	color: #FFFFFF;
}

#baner.brasil{
	background: no-repeat center center / cover url("../ImagesPages/title_resized/dessert-74568_1920.jpg");
}
#baner.chile{
	background: no-repeat center center / cover url("../ImagesPages/title_resized/chile-693065.jpg");
}
#baner.mexico{
	background: no-repeat center center / cover url("../ImagesPages/title_resized/landscape-695030.jpg");
}
#baner.peru{
	background: no-repeat center center / cover url("../ImagesPages/title_resized/peru-2532604.jpg");
}
#baner.contact, #baner.bio{
	background-color: #404851;
}

.title_bio {
	text-align: center;
}